.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 300px;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 280px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(255, 255, 255, 0.2) ;
}

.logo {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    flex: 1;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
}

.history li:hover {
    background-color:rgba(255, 255, 255, 0.2) ;
    border-radius: 10px;
}

.sign {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}